@font-face {
    font-family: inter;
    src: url("./assets/fonts/inter.ttf");
}

@font-face {
    font-family:neo;
    src: url("./assets/fonts/neofolia.otf");
}

body{
    font-family: inter;
    background: #f4f5f7;
    overflow-x: hidden;
}

.neo{
    font-family: neo;
}

.loading-text-effect {
  /* Make text transparent and clip background to letters */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  /* Create the loading gradient: Gray -> Darker Gray -> Gray */
  background-image: linear-gradient(
    to right,
    #b9bec5 20%, 
    #1f2329 50%, 
    hsl(217, 9%, 70%) 80%
  );
  
  /* Size the background and animate it */
  background-size: 200% auto;
  animation: textShine 2s linear infinite;
}

@keyframes textShine {
  to {
    background-position: 200% center;
  }
}


body::selection{
  background-color: black;
  color: white;
}